<div class="formContainer">
	<div class="col-md-12">	
	  <p>Registration Form</p>
	  <form>
	  	<div class="form-group">
	  		<input type="text" name="fname" placeholder="First Name" class="form-control"/>
	  	</div>
	  	<div class="form-group">
	  		<input type="text" name="lname" placeholder="Last Name" class="form-control"/>
	  	</div>

	  	<div class="form-group">
	  		<multi-field min=2>
	  			<div>
	  				<input type="text" name="hobbie" placeholder="Hobbie" class="form-control"/> 		
	  			</div>	
	  	    </multi-field>
	  	</div>	

	  	<div class="form-group">
	  		<button type="button" class="btn">Submit</button>
	  	</div>
	  </form>
	</div>
</div>	
